body{
    /* background-color: aqua; */

}

nav{
    width: 100w;
    height: 30vh;
    background-color: brown;
    text-decoration: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
   
}

.q{
    width: 50%;
    margin: 50px auto;
    font-size: 32px;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.p img{
    width: 50%;
    height: 50%;
    }

    .q1 img{
        width: 50%;
        height: 50%;
        }

        .r img{
            width: 50%;
            height: 50%;
            }

            .s img{
                width: 50%;
                height: 50%;
                }